.expense-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .expense-title {
        font-size: 1.5rem;
        font-weight: bold;
        
        > * {
            flex: 1;
        }
    }
}