.expense-item {
    position: relative;
    display: flex;
    color: var(--color-gray-light);
    padding-block: 5px;
    
    &:nth-child(even) {
        background-color: var(--color-accent-teal);
      }
      
    &:nth-child(odd) {
        background-color: var(--color-gray);
    }

    > * {
        flex: 1 0 0;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis; 
    }

    .expense-remove {
        position: absolute;
        display: none;
        inset-inline-end: 2em;
    }

    &:hover {
        .expense-remove {
            display: flex;
        }
    }
}