*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
    border: none;
    background-color: var(--color-primary-light);
    border-radius: 0.5em;
    padding: 5px 10px;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-primary-dark)
    }
}