*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}